services:
  rabbitmq:
    container_name: rabbitmq_evolution
    image: rabbitmq:management
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASS}
    networks:
      - evolution-internal
    # Sem exposição de portas - uso interno apenas

  api:
    container_name: evolution_api
    image: evoapicloud/evolution-api:latest
    restart: always
    depends_on:
      - redis
      - postgres
      - rabbitmq
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - evolution-internal
      - traefik
    env_file:
      - .env
    labels:
      - traefik.enable=true
      
      # HTTP -> HTTPS
      - traefik.http.routers.evolution-http.rule=Host(`${EVO_FQDN}`)
      - traefik.http.routers.evolution-http.entrypoints=web
      - traefik.http.routers.evolution-http.middlewares=https-only@file
      
      # HTTPS
      - traefik.http.routers.evolution.rule=Host(`${EVO_FQDN}`)
      - traefik.http.routers.evolution.entrypoints=websecure
      - traefik.http.routers.evolution.tls.certresolver=myresolver
      - traefik.docker.network=traefik
      
      # Porta interna da Evolution API
      - traefik.http.services.evolution.loadbalancer.server.port=8080

  redis:
    image: redis:latest
    container_name: redis_evolution
    restart: always
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data
    ports:
      - "${REDIS_EVO_HOST_PORT}:6379"
    networks:
      - evolution-internal

  postgres:
    container_name: postgres_evolution
    image: postgres:17.5
    restart: always
    command: ["postgres", "-c", "max_connections=1000"]
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_evolution_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_EVO_HOST_PORT}:5432"
    networks:
      - evolution-internal

volumes:
  evolution_instances:
  evolution_redis:
  postgres_evolution_data:

networks:
  traefik:
    external: true
  
  evolution-internal:
    driver: bridge
